.employee-list {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin: auto;
}

.employee-list-header {
    width: 100%;
    display:flex;
    flex-direction: row;
    height: 35px;
    padding: 10px;
    padding-right: 0px;
    background: cornflowerblue;
    font-weight: bold;
}

.employee-list-row {
    padding: 10px;
    width: 100%;
    padding-right: 0px;
    border-bottom: solid 1px lightgrey;
}

.header-column{
    flex: 1;
    margin-top: auto;
    margin-bottom: auto;
}

.employee-list-row div {
    min-height: 25%;
}
/*
.tiles {
    background-color: white;
    padding-bottom: 15px;
    border-bottom: solid 1px darkslategray;
}  */