  .container {
    display: inline;
    overflow: inherit;
  }

  form{
      height:100%;
  }
  
  .full-width-input > * {
    width: 100% !important;
  }
  
  .icon {
    padding: 0 14px;
    cursor: pointer;
  }

  .spacer {
    flex: 1 1 auto;
  }
  
  mat-form-field {
    max-width: 100px !important;
    margin-left: 5px;
  }
  
  .mat-row, .mat-header-row {
    min-width: 300px !important; 
    width:100%;
  }